.app {
  font-family: Inter, sans-serif;
  font-style: normal;
  color: #fff;

  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #202020;
}

.open-menu {
  overflow-y: hidden;
}
